.container {
    margin-top:75px
}
.row > div {
    padding: 20px;
}

.row img {
    width: 200px;
    height: 275px
}

.img-thumbnail {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px
}
